
.statusbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--container-bg-color);
    
}
.statusbar i{
    margin: 10px 20px;
    color: rgb(0, 0, 0, 0.7);
}